<link rel="stylesheet" href="https://s3.amazonaws.com/data.minnpost/projects/minnpost-styles/0.0.6-alpha/minnpost-styles.min.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://s3.amazonaws.com/data.minnpost/js/leaflet-0.6.1/leaflet.css">

<style>
  .candidate-info {display: none; margin-bottom:2em!important; padding: 1em;}
  .mp .candidate-info .candidate-image { float: right; margin: 0 0 1em 1em;}
  a.dropped-out, a.dropped-out:visited { text-decoration: line-through; color: #7A7A7A; font-style: italic;}
  .candidate-permalink { display: none; }
  .candidate-permalink a { color: #CCCCCC !important; }
  .candidate-permalink a:hover { color: #ABABAB !important; }
  .race-heading a { color: #CCCCCC !important; }
  .race-heading a:hover { color: #ABABAB !important; }
  body .node-unpublished {background-repeat: no-repeat;}
  .map-container { width: 100%; text-align: center; float:right;}
  .map {height: 250px!important;}
  .mp .race-heading {margin-top: 2em;}

  @media (max-width: 600px) {
    .mp .race-blurb p {padding: 1em!important;}
  }
</style>

<noscript>
  <style>
    .candidate-info {display: block;}
    .candidate-permalink {display: inline;}
  </style>
</noscript>


<div class="mp">
<div class="text-block large">
{% for race in data %}
{% if race.candidates != {} %}

<h2 class="race-heading" id="{{race.office.lower() | replace(' ','-')}}">{{race.office}} <a href="#{{race.office.lower() | replace(' ','-')}}" title="Link to {{race.office}}" class="small"><i class="fa fa-link"></i></a></h2>
<div class="row">
  <div class="race-blurb {% if race["map-id"] != '' %}column-large-66 column-medium-50 column-small-100{% else %}column-all-100{% endif %}">
    <p>{{race.blurb}}</p>
  </div>

  {% if race["map-id"] != '' %}
  <div class="column-large-33 column-medium-50 column-small-100">
    <div class="map-container">
      <div id="map-{{race['map-id']}}" class="map"></div>
    </div>
  </div>
  {% endif %}
</div>

{% for party, cands in race.candidates.items() %}
  <h4 class="color-political-{%if party.lower() == 'independence'%}ip{% elif party.lower() == 'green' %}gp{%else%}{{party[0].lower()}}{%endif%}">{{party}}</h4>
  <ul>
    {% for candidate in cands %}
    <li id="{{candidate.candidate_id}}"><a class="candidate-link{%if candidate["drop-out-date"] != ""%} dropped-out{%endif%}" href="#" data-candidate-id="{{candidate.candidate_id}}">{{candidate.name}}</a>{% if candidate["incumbent?"]=="Yes" %} <i class="fa fa-star color-orange" title="Incumbent"></i>{%endif%}{% if candidate["endorsed?"]=="Yes" %} <i class="fa fa-thumbs-up color-green" title="Endorsed"></i>{%endif%}<span class="candidate-permalink" id="perma-{{candidate.candidate_id}}"> <a href="#{{candidate.candidate_id}}"><i class="fa fa-link"></i></a></span></li>
    <div class="candidate-info cf" id="info-{{candidate.candidate_id}}">
      {% if candidate["headshot-url"] != '' %}<div class="candidate-image"><img data-src="{{candidate['headshot-url']}}" /></div>{% endif %}
      <p>{{candidate.blurb|safe}}</p>
      {% if candidate.hometown != '' %}<p><strong>From:</strong> {{candidate.hometown}}</p>{% endif %}
      {% if candidate["date-declared"] != '' %}<p><strong>Entered the race on:</strong> {{candidate["date-declared"]}}</p>{% endif %}
      {% if candidate["drop-out-date"] != "" %}<p><strong>Left the race on:</strong> {{candidate["drop-out-date"]}}</p>{% endif %}
      {% if candidate.website and candidate.website != '' %}<p><strong>Campaign website:</strong> <a href="{{candidate.website}}" target="_blank">{{candidate.website}}</a></p>{%endif%}
      {% if candidate["incumbent?"] == "Yes" %}<p><em>Incumbent</em></p>{% endif %}
      {% if candidate["endorsed?"] == "Yes" %}<p>Endorsed by <strong>{{party}} Party</strong></p>{% endif %}
      <a href="#" class="button small candidate-link" data-candidate-id="{{candidate.candidate_id}}">Close <i class="fa fa-arrow-up" title="Close"></i></a>
    </div>
    {% endfor %}
  </ul>
{% endfor %}

{% endif %}
{% endfor %}

</div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/data.minnpost/js/leaflet-0.6.1/leaflet.js"></script>

<script>
$('.candidate-link').click(function(event){
  event.preventDefault();
  selector = $(this).data("candidate-id");
  $('#info-'+selector).slideToggle(500);
  var img = $('#info-'+ selector +' img');
  img[0].src = img.data("src");
  $('#perma-'+selector).toggle();

});

$(document).ready(function(){
  var frag = $(location).attr("hash").substring(1);
  if (frag != "") {
    $('#info-'+frag).toggle();
    var img = $('#info-'+ frag +' img');
    img[0].src = img.data("src");
    $('#perma-'+frag).toggle();
  }
});

{% for race in data %}
{% if race["map-id"] %}

var map{{race["map-id"][0]}} = L.map('map-{{race["map-id"]}}').setView([46.518286790004616, -93.5], 5);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWlubnBvc3QiLCJhIjoiY2lyNTNsemhqMDFrY3RubHdyNnNuMTI4YiJ9.8W0Gl9YTwKKqP3Xn17yf1A', {
    maxZoom: 18,
    attribution: 'Some map imagery provided by <a href="https://www.mapbox.com/about/maps/" target="_blank">Mapbox</a>.',
    id: 'minnpost.map-wi88b700'
  }).addTo(map{{race["map-id"][0]}});

map{{race["map-id"][0]}}.removeControl(map{{race["map-id"][0]}}.zoomControl);
map{{race["map-id"][0]}}.addControl(new L.Control.Zoom({ position: 'bottomright' }));

$.getJSON('https://s3.amazonaws.com/data.minnpost/projects/minnpost-whos-running-2018/boundaries/{{race["map-id"]}}.json', function(data) {
  if (data.simple_shape) {
    L.geoJson(data.simple_shape, {
        style: {
        stroke: true,
        color: '#2DA51D',
        weight: 1.5,
        opacity: 0.9,
        fill: true,
        fillColor: '#2DA51D',
        fillOpacity: 0.2
      },
      }

    ).addTo(map{{race["map-id"][0]}});
  }
});

{% endif %}
{% endfor %}


</script>
